extends layout

block content
    .container
        .row
            .col-md-12
                h1.page-header Welcome to yashihei.net
                p yashihei.netへようこそ！このサイトではやしへいが制作したゲームなどの公開をしてます。
        .row
            .col-md-12
                h1.page-header 作ったもの
        mixin product(title, img_resource, ...labels)
            .row.product
                .col-md-4
                    img.img-thumbnail(src="#{img_resource}" alt="")
                .col-md-8
                    h2= title
                    p
                        each label in labels
                            span.label.label-default= label
                    if block
                        block
                    mixin download_button(url)
                        a.btn.btn-primary(href="#{url}" role="button")
                            i.fa.fa-download
                            | DownLoad
                    mixin github_button(url)
                        a.btn.btn-default(href="#{url}" role="button")
                            i.fa.fa-github
                            | GitHub
                    mixin play_button(url)
                        a.btn.btn-primary(href="#{url}" role="button")
                            i.fa.fa-gamepad
                            | Play
        +product("全方位弾幕STG(仮)", "./img/stg.gif", "C++11", "Siv3D")
            :markdown
        +product("たんくうぉー！", "./img/tankwar.png", "C++11", "Siv3D")
            :markdown
                エンドレスな即死系全方位STG。画面が揺れたり爆発したりで騒がしいです。  
            +download_button("https://github.com/yashihei/TANK/releases/download/Ver1.0/TANKWAR.zip")
            +github_button("https://github.com/yashihei/TANK")
        +product("弾幕じぇねれ～た～", "./img/danmaku.png", "C++11", "Siv3D")
            :markdown
                Siv3DのGUI機能を使って弾幕のパラメーターを設定してみたら案外いい感じに。  
                コードはたったの100行程です。
            +download_button("https://www.dropbox.com/s/8y26146bnu99xsn/danmaku_generator.zip?dl=1")
            +github_button("https://gist.github.com/yashihei/aad13278d4a1ae8d8800")
        +product("TumblrViewer", "./img/tumblr_viewer.jpg", "C#", "WPF")
            :markdown
                プロコンでC#を多少触ったことがあったので、その経験を活かして制作しました。  
                TumblrAPIを叩いたり、モダンなUIな感じです。  
                コードビハインドを多用してるのでコードはあまり綺麗じゃないです…。
            +github_button("https://github.com/yashihei/TumblrViewer")
        +product("がんばれ！あといちゃん！", "./img/atoichan.png", "C++11", "Siv3D")
            :markdown
                全力でコンピューターフェスティバルに向けて作った弾幕STGです。  
                今から考えるとこの作品が私にとって、ひとつのブレイクスルーだったのかなと思います。  
            +download_button("https://www.dropbox.com/s/jh3ttlag6d6mj7i/GANBARE_ATOICHAN.zip?dl=1")
            +github_button("https://github.com/yashihei/GANBARE_ATOICHAN")
        +product("LIFEGAME", "./img/lifegame.jpg", "C++11", "DXライブラリ")
            :markdown
                C++でのゲーム制作に苦手意識を感じてたのですが、とりあえず小さなものを作っていこうという目標を立てては作った習作です。  
                見た目は普通のライフゲームですが、STLのコンテナを使ったり、クラスで管理したり、C++11の機能を使ったりと色々挑戦しました。  
                [この頃に他にも幾つかのミニゲームを制作しました。](http://yashihei.hatenablog.com/entry/2014/01/28/232134)
            +download_button("https://www.dropbox.com/s/btqodigzhqeq8y7/LIFEGAME.zip?dl=1")
            +github_button("https://github.com/yashihei/LIFEGAME")
        +product("TechnyanClicker", "./img/clicker.jpg", "JavaScript", "tmlib.js")
            :markdown
                当時流行ってたCookieClickerのパロディゲーです。  
                実はてくにゃんが床に溜まるのはバグだったのですが、面白かったのでそのままにしてます。  
                弥生祭で展示したところ、n万回クリックされる程度には評判だったようです。
            +play_button("./technyan_clicker/")
            +github_button("https://github.com/yashihei/technyan_clicker")
        +product("FlatTetris", "./img/tetris.jpg", "JavaScript", "tmlib.js")
            :markdown
                本当にただのテトリスなのですが、よりにもよって書き慣れてなかったJavaScriptで書いたのでかなりの難産だった記憶があります。
                tmlib.js自体はとても便利で扱い易いライブラリです。
            +play_button("./flat_tetris/")
            +github_button("https://github.com/yashihei/flat_tetris")
